html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}body{line-height:1;color:black;background:white}:focus{outline:0}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0}

body {
  background-color: #ccc;
  position: relative;
  font-family: sans-serif
}

button {
  color: #eee;
  border: 1px solid #000;
  cursor: pointer
}

input[type=text] {
  text-align: center;
  border: 1px solid #aaa
}

#headerRow div {
  font-weight: bold;
  color: #fff
}

#headerRow div {
  background-color: #4a5
}

.cp span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal
}

#headerRow .errorRow {
  background-color: #c33
}

.tableRow {
  float: none
}

.oddRow {
  background-color: #fff
}

.evenRow {
  background-color: #eee
}

.loginButton {
  background-color: #45a
}

.loginButton: hover {
  background-color: #56b
}

#loadingSpinner {
  margin: 0 auto
}

/*********** DESKTOP STYLES ***********/
@media only screen and (min-width: 700px) {
  input[type=text] {
    line-height: 45px;
    height: 45px;
    padding: 0 10px;
    width: 60%;
    display: block;
    margin: 6.5px auto;
    font-size: 1.5em
  }
  
  button {
    font-size: 1.25em;
    line-height: 45px;
    display: block;
    margin: 6.5px auto
  }
  
  .mobile {
    display: none
  }
  
  #mainContent {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, 0%)
  }
  
  #scheduleTable {
    width: 600px;
    font-size: 1.1em
  }
  
  .cp {
    width: 560px;
    padding: 0 20px;
    text-align: center
  }
  
  .c1,.c2,.c3 {
    float: left;
    height: 60px
  }
  
  .c1 {
    text-align: right;
    padding-right: 10px;
    width: 290px
  }
  
  .c2 {
    width: 230px
  }
  
  .c3 {
    width: 70px
  }
  
  #headerRow div {
    font-size: 1.75em;
    text-align: center
  }
  
  #lastRow {
    margin-bottom: 50px
  }
  
  .tableRow,#headerRow {
    height: 60px;
    line-height: 60px
  }
}

/*********** MOBILE STYLES ***********/
@media only screen and (max-width: 699px) {
  input[type=text] {
    line-height: 40px;
    height: 40px;
    width: 80%;
    font-size: 1.25em
  }
  
  button {
    font-size: 1.25em;
    line-height: 40px;
    display: block;
    margin: 9px auto
  }
  
  .desktop {
    display: none
  }
  
  #scheduleTable {
    font-size: 1.1em
  }
  
  #mainContent,#scheduleTable,.tableRow,#headerRow {
    width: 100%
  }
  
  #headerRow,#lastRow {
    position: fixed;
    box-shadow: 0 0 10px #444
  }
  
  #headerRow,#headerRow div,#lastRow,#lastRow div {
    height: 60px;
    line-height: 60px
  }
  
  .cp {
    text-align: center;
    height: 90px;
    line-height: 90px;
    padding: 15px 10px;
    width: calc(100% - 20px)
  }
  
  .c1,.c2,.c3 {
    float: left;
    height: 60px
  }
  
  .c1 {
    text-align: right;
    padding-right: 20px;
    width: calc(35% - 20px)
  }
  
  .c2 {
    width: 45%
  }
  
  .c3 {
    width: 20%
  }
  
  #lastRow {
    bottom: 0
  }
  
  #tableCells {
    padding: 60px 0
  }
  
  #headerRow div {
    padding: 0 5px;
    font-size: 1.5em;
    text-align: center
  }
  
  .tableRow {
    height: 60px;
    line-height: 60px
  }
}
